{% extends 'mainapp/base.html' %}
{% block content %}

<div class="row">

    <div class="col-lg-8">
        <div class="card my-2">
            <div class="card-body">
                <h5 class="card-title">{{ object.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ object.create_at|date:"d.m.Y H:i" }}</h6>
                <p class="card-text">{{ object.preamble }} </p>
                <p class="card-text">{{ object.body }} </p>
                <a href="#" class="card-link">Подробнее</a>
            </div>
        </div>

    </div>


    {% endblock %}